body {
	
	font-size:12px;
	padding-bottom: 40px;
	
}
.container-fluid{padding-top: 20px;}


.container-footer {
    margin: 10px 0;
}

.container-footer p {
    font: 13px/18px arial;
    margin-bottom: -1px;
}

/*Nav bar*/
.navbar .brand {
  display:block;
  float:left;
  font-size:20px;
  font-weight:200;
  padding:10px 20px;
  margin-left:-15px;
}

.navbar .nav > li > a {
  float:none;
  padding:10px 15px;
  text-decoration:none;
}

.navbar-search .search-query {
  border-radius:5px;
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	.container-fluid{padding-top: 100px;}
	.navbar .brand {margin-left:-90px;}
	.style-switcher{margin-left:-70px;}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	.container-fluid{padding-top: 100px;}
	.navbar .brand {margin-left:-90px;}
	.style-switcher{margin-left:-70px;}
}

table.detail-view td {font-size:12px;}
h1,h2,h3,h4, .portlet > .portlet-decoration, .sidebar-nav > ul > li > a, .navbar a, th{
	font-family: 'Carrois Gothic', sans-serif;
}

.portlet > .portlet-decoration, .sidebar-nav > ul > li > a, .navbar li > a, th{
	font-size:14px!important;
}
/* Start Portlets*/
.portlet{
/*-webkit-box-shadow: 0 3px 11px #7b7b7b;*/
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border:1px solid #DDDDDD;
  border-radius:3px;
  box-shadow: 0 3px 11px #7b7b7b;
  margin-bottom:20px;
  min-height:40px;

}

.portlet-decoration{
	border-bottom:1px solid #DDD;
	background-color: #F1F1F1;
	background-image: -moz-linear-gradient(top, #F1F1F1, #DBDBDB);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F1F1F1), to(#DBDBDB));
	background-image: -webkit-linear-gradient(top, #F1F1F1, #DBDBDB);
	background-image: -o-linear-gradient(top, #F1F1F1, #DBDBDB);
	background-image: linear-gradient(to bottom, #F1F1F1, #DBDBDB);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF1F1F1', endColorstr='#ffDBDBDB', GradientType=0);
	padding:10px;
}

.portlet-decoration [class^="icon-"], .portlet-decoration [class*=" icon-"] {

  margin-right:5px;

}
.portlet-content{
	padding:5px;
}

/* end Portlets*/
.navbar {
  margin-bottom:0px;
  overflow:visible;
}

.summary ul {
margin: 0px;
padding: 0px;
list-style: none;
}

.summary ul li {
height: 52px;
clear: both;
margin-bottom: 14px;
}

.summary ul li .summary-icon {
width: 36px;
height: 36px;
float: left;
margin-right: 10px;
padding: 6px;
background: white;
border: #DDD 1px solid;
-webkit-box-shadow: inset 0 0 3px #EEE;
-moz-box-shadow: inset 0 0 3px #eee;
box-shadow: inset 0 0 3px #EEE;
-moz-border-radius: 100%;
-webkit-border-radius: 100%;
border-radius: 100%;
}

.summary ul li .summary-number {
font-size: 20px;
font-weight: bold;
display: block;
padding-top: 8px;
}

.summary ul li .summary-title {
display: block;
text-transform: uppercase;
font-size: 11px;
color: #AB4000;
}

.stat-block {
margin-bottom: 20px;
padding: 10px;
min-height:40px;
background: #F1F1F1;
background: -moz-linear-gradient(top, #F1F1F1 0%, #DBDBDB 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F1F1F1), color-stop(100%, #DBDBDB));
background: -webkit-linear-gradient(top, #F1F1F1 0%, #DBDBDB 100%);
background: -o-linear-gradient(top, #F1F1F1 0%, #DBDBDB 100%);
background: -ms-linear-gradient(top, #F1F1F1 0%, #DBDBDB 100%);
background: linear-gradient(to bottom, #F1F1F1 0%, #DBDBDB 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#dbdbdb', GradientType=0 );
border: 1px solid #DDD;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: inset 0 1px 0 #F9F9F9;
-moz-box-shadow: inset 0 1px 0 #f9f9f9;
box-shadow: inset 0 1px 0 #F9F9F9;
}

.stat-block ul {
margin: 0px;
padding: 0px;
}

.stat-block li {
list-style: none;
float: left;
}

.stat-block .stat-graph {
width: auto;
background: white;
padding: 10px 10px 8px 10px;
border: #D7D7D7 1px solid;
text-align: center;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
margin-right: 10px;
}

.stat-block .stat-count {
width: 90px;
}

.stat-block .stat-count span:last-child {
color: #666;
font-size: 12px;
font-weight: normal;
padding-top:3px;
}

.stat-block li span {
display: block;
}

.stat-block .stat-count span:first-child {
color: #1D2E7B;
font-weight: bold;
font-size: 20px;
}

.stat-block .stat-percent {
width: 40px;
float: right !important;
text-align: center !important;
}

.stat-percent{
	 font-size: 20px;
	 font-weight: bold;
 }
 /*Navbar*/
 .navbar-fixed-top {
  top:0;
  left:0;
}
 
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #f47721;
  text-decoration: none;
  background: #EBDB97 !important; 
	
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  text-decoration: none;
  color: #048899;
  background: #EBDB97 !important; 
}
/*Side Nav*/
.sidebar-nav {
  padding:0!important;
}

.sidebar-nav ul{
  padding:0;
  margin:0;
}

.sidebar-nav ul li{
  list-style: none;
}

.sidebar-nav ul > li > a, .sidebar-nav ul > li > a:hover, .sidebar-nav ul > li > span {
	padding:9px 15px;
  	margin-bottom:3px;
  	display:block;
}

.sidebar-nav ul > li > a, .sidebar-nav ul > li > a:hover {
	
	background: #4ec3ce; /* Old browsers */
background: -moz-linear-gradient(top,  #4ec3ce 0%, #048e9b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ec3ce), color-stop(100%,#048e9b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4ec3ce 0%,#048e9b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4ec3ce 0%,#048e9b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4ec3ce 0%,#048e9b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4ec3ce 0%,#048e9b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ec3ce', endColorstr='#048e9b',GradientType=0 ); /* IE6-9 */

	-webkit-box-shadow:#F9F9F9 0 1px 0 inset;
/*	border:1px solid #DDDDDD;*/
	border-radius:3px;
	box-shadow:#F9F9F9 0 1px 0 inset;
	text-decoration:none;
        color: #ffffff !important;
  
  
}

.sidebar-nav  ul > li.active > a, .sidebar-nav ul > li.active > a:hover {

	background-color: #9e9090!important;
	background-image: -moz-linear-gradient(top, #9e9090, #979898)!important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9e9090), to(#979898))!important;
	background-image: -webkit-linear-gradient(top, #9e9090, #979898)!important;
	background-image: -o-linear-gradient(top, #9e9090, #979898)!important;
	background-image: linear-gradient(to bottom, #9e9090, #979898)!important;
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff9e9090', endColorstr='#ff979898', GradientType=0);
	
	box-shadow:#cccccc 0 1px 0 inset;
	border:1px solid #9e9090;
	color:#F1F1F1;
}
.subnav.navbar-fixed-top {
  top:40px;
  z-index:1;
}
/*Progress bar*/
.progress, .ui-progressbar {
	height:10px;
}

.ui-progressbar {
  border:0;
  border-radius:4px;
  clear: both;
  margin-bottom:20px;
}

.ui-progressbar.ui-widget-content {
	-webkit-box-shadow:rgba(0, 0, 0, 0.0980392) 0 1px 2px inset;
	background-color:#F7F7F7;
	background-image:-webkit-linear-gradient(top, #F5F5F5, #F9F9F9);
	background-repeat:repeat no-repeat;
	box-shadow:rgba(0, 0, 0, 0.0980392) 0 1px 2px inset;
	overflow:hidden;
}

.ui-progressbar .ui-widget-header{
	background-image:-webkit-linear-gradient(top, #149BDF, #0480BE);
	background-repeat:repeat no-repeat;
	box-shadow: none;
	box-sizing:border-box;
	color:#FFFFFF;
	float:left;
	height:100%;
	border:0;/**/
}
.ui-progressbar .ui-progressbar-value {
  margin:0px;
}


.ui-progressbar .ui-widget-header {
  -webkit-box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
  -webkit-transition:width 0.6s ease;
  background-color:#149BDF;
  background-image:-webkit-linear-gradient(top, #149BDF, #0480BE);
  background-repeat:repeat no-repeat;
  box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
  box-sizing:border-box;
  color:#FFFFFF;
  float:left;
  font-size:12px;
  height:100%;
  text-align:center;
  text-shadow:rgba(0, 0, 0, 0.247059) 0 -1px 0;
  width:0;
}

.progress-info .ui-widget-header, .progress-info.ui-slider.ui-widget-content  {
  background-color:#4BB1CF !important;
  background-image:-webkit-linear-gradient(top, #5BC0DE, #339BB9);
  background-repeat:repeat no-repeat;;
}

.progress-success .ui-widget-header, .progress-success.ui-slider.ui-widget-content  {
  background-color:#5EB95E  !important;
  background-image:-webkit-linear-gradient(top, #62C462, #57A957);
  background-repeat:repeat no-repeat;
}

.progress-warning .ui-widget-header, .progress-warning.ui-slider.ui-widget-content {
  background-color:#FAA732 !important;
  background-image:-webkit-linear-gradient(top, #FBB450, #F89406);
  background-repeat:repeat no-repeat;
}

.progress-danger .ui-widget-header, .progress-danger.ui-slider.ui-widget-content  {
  background-color:#DD514C !important;
  background-image:-webkit-linear-gradient(top, #EE5F5B, #C43C35);
  background-repeat:repeat no-repeat;
}

.progress-striped .ui-widget-header, .progress-striped.ui-slider.ui-widget-content  {
  -webkit-background-size:40px;
  background-color:#149BDF;
  background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
  background-repeat:repeat;
}

.active.ui-progressbar .ui-widget-header {
	  -webkit-animation: progress-bar-stripes 2s linear infinite;
     -moz-animation: progress-bar-stripes 2s linear infinite;
      -ms-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}
/*slider*/
.ui-slider{
	margin-bottom:20px;
}

.ui-slider.ui-widget-content{
	-webkit-box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
	-webkit-transition:width 0.6s ease;
	background-color:#149BDF;
	background-image:-webkit-linear-gradient(top, #149BDF, #0480BE);
	background-repeat:repeat no-repeat;
	box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
	box-sizing:border-box;
	border:none;
}

/*Table*/
.table > table{
	width:100%;
}

/*CGridview*/
.filters select, .filters input, .filters .uneditable-input {
  border-radius:none;
  font-size:14px;
  height:20px;
  line-height:10px;
  margin-bottom:0;
  padding:0;
}

/*Pagination*/

.pager{
	margin:20px 0;
}
.pager ul{
	-webkit-box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 2px;
  border-radius:0px;
  box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 2px;
  display:inline-block;
  margin-bottom:0;
  margin-left:0;
  text-align:center;
}

.pager a, .pager span{
	
	border-radius:0px;
	margin-left:3px;
}

.pager ul > li.last > a, .pager ul > li.last > span {
  border-left-radius:4px;
}

.pager ul > li > a, .pager ul > li > span {
  background-color:#FFFFFF!important;
  border-color:#DDDDDD!important;
  border-style:solid;
  border-width:1px 1px 1px 0;
  float:left;
  line-height:20px;
  padding:4px 12px!important;
  text-decoration:none;
  border-radius: 20px;
}

.pager ul > li.first > a, .pager ul > li.first > span {
  border-bottom-left-radius:4px;
  border-top-left-radius:4px;
}

ul.yiiPager li.hidden{
	display:none!important;	
}

/*CListView*/
.list-view div.view{
	
	border:solid 1px #DDDDDD;
	padding: 10px;
	margin-bottom:10px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.1) 0 1px 20px inset;
	box-shadow:rgba(0, 0, 0, 0.1) 0 1px 20px inset;
	border-radius:4px;
        background: none repeat scroll 0 0 #f9f9f9;
	
}

/*Form*/
.filters input, .filters .uneditable-input {
  width:100% !important;
}

div.form > form  .row {
  margin-left:0px;
}

/*Footer*/
footer {
	margin-top:50px;
	text-align:center;
}
/*Style switcher*/
.style-switcher
{
	padding-top:13px;
}
.style-switcher span.style
{
	width:16px; 
	height:16px; 
	display:block;
	margin-right:5px;
	float:left;
}

/*Button styles*/
.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.errorMessage {
    color: #df3317;
}

.goto_website {
    line-height: 41px;
    margin-left: 24px;
}

.order_detail img {
    height: 20px;
    margin-top: 3px;
}

.cancel_order > img {
    margin-left: -3px;
    margin-top: -1px;
}

.view_order_detail li {
    list-style: none outside none;
    overflow: hidden;
    padding: 5px;
}

.ordered_items > li {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #f2f2f2;
}

.view_order_detail span {
    float: left;
    font-weight: bold;
    width: 119px;
}

.ordered_items {
    overflow: hidden;
    width: 500px;
}

.button-column a {
    margin-right: 1px;
}

.ordered_items span {
    background: none repeat scroll 0 0 #f0f0f0;
    margin-right: 10px;
    padding: 2px 10px;
    width: 223px;
}

.view_order_detail {
    background: none repeat scroll 0 0 #fafafa;
    border: 1px solid #f2f2f2;
    padding: 10px;
}

.row.buttons > input[type="submit"], .button_blue a, .row.buttons > input[type="button"], #serviceform > input[type="submit"] {
     background: #4ec3ce; /* Old browsers */
background: -moz-linear-gradient(top,  #4ec3ce 0%, #048e9b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ec3ce), color-stop(100%,#048e9b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4ec3ce 0%,#048e9b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4ec3ce 0%,#048e9b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4ec3ce 0%,#048e9b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4ec3ce 0%,#048e9b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ec3ce', endColorstr='#048e9b',GradientType=0 ); /* IE6-9 */

    border: medium none;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #fff;
    padding: 4px 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.row.buttons > input[type="submit"]:hover, .row.buttons > input[type="submit"]:active, .row.buttons > input[type="submit"]:focus,
.button_blue a:hover, .button_blue a:active, .button_blue a:focus, .row.buttons > input[type="button"]:hover, .row.buttons > input[type="button"]:active, .row.buttons > input[type="button"]:focus, #serviceform > input[type="submit"]:hover
{
    background: #048899; /* Old browsers */
background: -moz-linear-gradient(top,  #048899 0%, #05b5af 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#048899), color-stop(100%,#05b5af)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #048899 0%,#05b5af 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #048899 0%,#05b5af 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #048899 0%,#05b5af 100%); /* IE10+ */
background: linear-gradient(to bottom,  #048899 0%,#05b5af 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#048899', endColorstr='#05b5af',GradientType=0 ); /* IE6-9 */

    color: #fff;
    
}
/* october 8 2014*/
.admin_logo {
    background: none repeat scroll 0 0 #ebdb97;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #949494;
    -webkit-box-shadow: 1px 1px 10px #949494;
    -moz-box-shadow: 1px 1px 10px #949494;
    color: #fff;
/*    float: left;*/
    font: bold 36px "Comic Sans MS" !important;
    padding: 8px 12px 16px 10px;
    position: absolute;
    top: 20px;
    border: 1px solid #d5c581;
    left: 30px;
}

.admin_logo:hover, .admin_logo:active{
    color: #fff;
    text-decoration: none;
}


.subnav.navbar-fixed-top {
   top: 53px;
    z-index: 1;
    display: none;
}

.breadcrumb {
    box-shadow: 1px 1px 7px #ccc;
    -webkit-box-shadow: 1px 1px 7px #ccc;
    -moz-box-shadow: 1px 1px 7px #ccc;
    color: #f3822e;
    margin-top: 20px;
    padding: 5px 15px;
}

.sidebar-nav ul li span {
    color: #f47721;
    font: bold 12px arial;
}

h1 {
    color: #048899;
}

.dropdown a {
    color: #048899;
}

/*.grid-view table.items th {
    
    background: #4ec3ce;  Old browsers 
background: -moz-linear-gradient(top,  #4ec3ce 0%, #048e9b 100%);  FF3.6+ 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ec3ce), color-stop(100%,#048e9b));  Chrome,Safari4+ 
background: -webkit-linear-gradient(top,  #4ec3ce 0%,#048e9b 100%);  Chrome10+,Safari5.1+ 
background: -o-linear-gradient(top,  #4ec3ce 0%,#048e9b 100%);  Opera 11.10+ 
background: -ms-linear-gradient(top,  #4ec3ce 0%,#048e9b 100%);  IE10+ 
background: linear-gradient(to bottom,  #4ec3ce 0%,#048e9b 100%);  W3C 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ec3ce', endColorstr='#048e9b',GradientType=0 );  IE6-9 

    
    color: white;
    text-align: center;
}*/

.grid-view table.items th {
    background: none repeat scroll 0 0 #048899;
    color: white;
    text-align: center;
}

body {
    background: url("../img/tiny_grid.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-bottom: 0 !important;
}

.container-footer p {
    color: #ffffff;
}

.navbar-inner {
    background: none repeat scroll 0 0 #048899;
}

.container-footer a {
    color: #ebdb97;
}

.container-footer a:hover {
    color: #ebdb97;
}

.container_center {
    margin: 30px auto 0;
/*    width: 940px;*/
width: 75%;
}

.applicant_details li {
    list-style: none outside none;
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 6px;
}

.applicant_details li a{
    background: none repeat scroll 0 0 #e6e6e6;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    padding: 2px 8px;
    display: inline-block;
    
}

.pull-right.nav {
    margin-left: 165px;
}

.nav-collapse.in.collapse {
    margin-top: 94px;
}

.applicant_details li a{
    text-decoration: none;
}

h2 {
    color: #048899;
}

.personal_details > li {
    list-style: none outside none;
    clear: both;
}

.grid-view {
    background: none repeat scroll 0 0 #048899;
    border-radius: 3px;
    padding: 15px;
}

.grid-view .summary {
    color: #ffffff;
    margin: 0 0 5px;
    text-align: right;
}

.pager {
    color: #fff;
}

.pager ul {
    vertical-align: middle;
}

.page-header {
    border-bottom: medium none;
}

.portlet-content {
    background: none repeat scroll 0 0 #ebdb97;
}

.portlet-decoration {
    background: #4ec3ce; /* Old browsers */
background: -moz-linear-gradient(top,  #4ec3ce 0%, #048e9b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ec3ce), color-stop(100%,#048e9b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4ec3ce 0%,#048e9b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4ec3ce 0%,#048e9b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4ec3ce 0%,#048e9b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4ec3ce 0%,#048e9b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ec3ce', endColorstr='#048e9b',GradientType=0 ); /* IE6-9 */

	-webkit-box-shadow:#F9F9F9 0 1px 0 inset;
/*	border:1px solid #DDDDDD;*/
	border-radius:3px;
	box-shadow:#F9F9F9 0 1px 0 inset;
	text-decoration:none;
        color: #ffffff !important;
  
}

.applicant_details > li a:hover, .applicant_details > li a:active {
    background: none repeat scroll 0 0 #048899;
    border: 1px solid #117a8b;
    color: #ffffff !important;
}

.detail_desc {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #e1e1e1;
    float: left;
    padding: 2px 5px;
    margin-bottom: 10px;
}

.detail_title {
    float: left;
    padding: 3px 5px;
    width: 212px;
}

#servicestep-form .row li {
    display: inline-block;
    list-style: none outside none;
    margin-bottom: 5px;
    width: 215px;
}

.row input[type="checkbox"] {
    margin-right: 5px;
    margin-top: -3px;
}

.hint {
    color: #f47721;
}

#usermenu-form .row li {
    display: inline-block;
    list-style: none outside none;
    margin-right: 20px;
}

.dataGrid th {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #048899;
    font: bold 13px arial !important;
    text-align: right;
}

#rights ul li {
    color: #048899;
    display: inline-block;
}

#rights ul {
    margin-left: 0;
    margin-top: 10px;
}

.visa_type > li {
    display: inline-block;
    margin-right: 20px;
    width: 287px;
    margin-bottom: 5px;
}

.button_blue a {
    line-height: 35px;
    padding: 7px 10px;
    text-decoration: none;
    margin-left: 5px;
}

.grid-view table.items th a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

#rights #generator table.items .exists * {
    color: #333333;
}

#rights #generator table.items .path-column {
    color: #333333;
    font-style: italic;
}

h4 {
    color: #048899;
    font-size: 16px;
}

.applicant_doc li {
    list-style: square outside none;
}

h3 {
    color: #048899;
}

#rights .flashes {
    width: 93%;
}

#rights ul li a {
    color: #048899;
    list-style: square outside none;
    background-color: #e3e3e3;
    border: 1px solid #d4d4d1;
    border-radius: 3px;
    line-height: 23px;
    list-style: none outside none;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 4px 6px;
    text-decoration: none;
}


#rights ul li a:hover, #rights ul li a:active{
    color: #ffffff;
    background: none repeat scroll 0 0 #048899;
    border: 1px solid #048899;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #999;
    border-top-color: #eeeeee;
}

.row.log_text {
    float: left;
}

.row.buttons.log_button {
    float: right;
    margin-top: 35px;
}

.row.buttons.log_button > input[type="submit"] {
    border-radius: 3px;
    font: 11px arial;
    padding: 2px 7px;
}

.log_text textarea {
    width: 243px;
    font: 11px arial;
}

.button_blue.log_btn > a {
    font: 11px arial;
    padding: 3px 6px;
}

.user_login input[type="checkbox"] {
    float: left;
    margin-top: 3px;
}

.page-header {
    border-bottom: 1px solid #eee;
    margin: 20px 0 0;
    padding-bottom: 9px;
}
/* october 8 2014*/



/* pop up */
#button:hover {
	background-image: -webkit-linear-gradient(top, rgb(254, 194, 82), rgb(254, 205, 97));
	background-image: -moz-linear-gradient(top, rgb(254, 194, 82), rgb(254, 205, 97));
	background-image: -o-linear-gradient(top, rgb(254, 194, 82), rgb(254, 205, 97));
	background-image: -ms-linear-gradient(top, rgb(254, 194, 82), rgb(254, 205, 97));
	background-image: linear-gradient(top, rgb(254, 194, 82), rgb(254, 205, 97));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fec252', EndColorStr='#fecd61');

	-webkit-box-shadow:
		inset 0px 1px 0px #fed17e,
		      0px 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow:
		inset 0px 1px 0px #fed17e,
		      0px 1px 1px rgba(0,0,0,.1);
	box-shadow:
		inset 0px 1px 0px #fed17e,
		      0px 1px 1px rgba(0,0,0,.1);
}



#modal {
	visibility:hidden;
	width:323px !important;
	/*height:189px;*/
	padding:8px;

	background:rgba(0,0,0,.3);

	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;

	position:absolute !important;
	top:50% !important;
	left:50% !important;
	margin-top:-200px !important;
	margin-left:-180px !important;
	z-index:101;
}


#heading {
	background-image: -webkit-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
	background-image: -moz-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
	background-image: -o-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
	background-image: -ms-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
	background-image: linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f9f9', EndColorStr='#e9e9e9');

	border-bottom:1px solid #bababa;

	-webkit-box-shadow:
		inset 0px -1px 0px #fff,
		0px 1px 3px rgba(0,0,0,.08);
	-moz-box-shadow:
		inset 0px -1px 0px #fff,
		0px 1px 3px rgba(0,0,0,.08);
	box-shadow:
		inset 0px -1px 0px #fff,
		0px 1px 3px rgba(0,0,0,.08);

	-webkit-border-radius:4px 4px 0px 0px;
	-moz-border-radius:4px 4px 0px 0px;
	border-radius:4px 4px 0px 0px;
	
    color: #048899;
    font: bold 14px arial;
    padding: 10px;
    text-shadow: 0 1px 0 #fff;
}

#content-popup {
	/*width:360px;
	height:225px;*/
	overflow:hidden;
	padding: 10px;

	background:#fcfcfc;

	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,.25);
	-moz-box-shadow:0px 1px 3px rgba(0,0,0,.25);
	box-shadow:0px 1px 3px rgba(0,0,0,.25);

	-webkit-border-radius:0px 0px 4px 4px;
	-moz-border-radius:0px 0px 4px 4px;
	border-radius:0px 0px 4px 4px;
}

#content-popup > ul {
    list-style: none outside none;
}

#content-popup li {
    display: block;
    list-style: none outside none;
}

#content-popup ul li a {
    float: right;
    margin-bottom: 10px;
    margin-left: 15px;
}

#content-popup p {
    color: #555555;
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    text-align: left;
    width: 100%;
}

#closepopup {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

#closepopup:hover {
	color: red;
}

.button {
	width:138px;
	height:33px;

	font-size:13px;
	font-weight:bold;
	line-height:33px;

	color:#fff;
	text-shadow:0px 1px 0px rgba(0,0,0,.2);

	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;

	-webkit-box-shadow:
		inset 0px 1px 0px rgba(255,255,255,.5),
		0px 1px 2px rgba(0,0,0,.3);
	-moz-box-shadow:
		inset 0px 1px 0px rgba(255,255,255,.5),
		0px 1px 2px rgba(0,0,0,.3);
	box-shadow:
		inset 0px 1px 0px rgba(255,255,255,.5),
		0px 1px 2px rgba(0,0,0,.3);

	float:left;
}
.button img { 
	float:left;
	width:33px;
	height:33px;
}



.button.green {
	background: -webkit-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
	background: -moz-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
	background: -o-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
	background: -ms-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
	background: linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aad44f', endColorstr='#609d29',GradientType=0 );

	border: 1px solid #5b8821;
	color: #FFFFFF;
    margin-top: 10px;
	margin-right: 10px;
	text-shadow: none;
    width: 80px;
}
.button.red {
	background: -webkit-linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
	background: -moz-linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
	background: -o-linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
	background: -ms-linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
	background: linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f87288', endColorstr='#ce3b46',GradientType=0 );

	border: 1px solid #b0333e;
	color: #FFFFFF;
    margin-top: 10px;
	text-shadow: none;
    width: 135px;
}

.reveal-modal-bg { 
	position: fixed; 
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.4);
	z-index: 100;
	display: none;
	top: 0;
	left: 0; 
}



@media only screen and (max-width: 767px) {
        
	#modal {
		width:284px;
		height:156px;
		padding:8px;

		margin-left:-150px !important;
		margin-top:-78px;
	}
	#heading {
		width:284px;
		height:28px;

		line-height:28px;
		font-size:0.688em;
	}
	#content-popup {
		width:284px;
		height:128px;
   	}
   	#content-popup p {
   		width:284px;
   		font-size:0.688em;
   	}
   	.button img { 
		width:23px;
		height:23px;
	}
	.button {
		width:108px;
		height:23px;

		line-height:23px;
		font-size:0.688em;
	}
	.button.green {
		margin:0 4px 0 28px !important;
	}
	.button.red {
		margin:0 28px 0 4px !important;
	}
}

/* pop up */

/* Nov 7*/
.applicant_doc tr, td {
    border: 1px solid #048899;
    color: #048899;
    font-size: 12px;
    padding: 3px 6px;
}


.personal_details .button_blue {
    margin-left: 10px;
}
.visaviward li {
    list-style: outside none none;
}
#Visapurpose input[type="checkbox"] {
    margin-bottom: 6px;
    margin-right: 5px;
}
#Visapurpose li {
    list-style: outside none none;
}
.visa_type li {
    list-style: outside none none;
}
#Visapurpose .row {
    margin-left: 0 !important;
}
/*#documenttable .button_blue {
    font-size: 11px;
    padding: 3px 6px;
}*/

.button_blue.log_btn a {
    float: left;
}
.button_blue.log_btn a:hover{
    background: #048899; /* Old browsers */
background: -moz-linear-gradient(top,  #048899 0%, #05b5af 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#048899), color-stop(100%,#05b5af)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #048899 0%,#05b5af 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #048899 0%,#05b5af 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #048899 0%,#05b5af 100%); /* IE10+ */
background: linear-gradient(to bottom,  #048899 0%,#05b5af 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#048899', endColorstr='#05b5af',GradientType=0 ); /* IE6-9 */

    color: #fff;
}
.appadd_summary {
    margin-bottom: 10px;
}

.apadddeposite{
    margin-top: 10px;
}
.appdetail_update {
    background: url("../img/update.png") no-repeat scroll 6px 4px / 14px auto rgba(255, 255, 255, 0);
    padding: 0 15px 8px;
}
.doc_download {
    background: url("../img/icon_download.png") no-repeat scroll 6px 4px / 16px auto rgba(255, 255, 255, 0);
    padding: 5px 15px 6px;
}
.doc_verify {
    background: url("../img/verify2.png") no-repeat scroll 4px 3px / 18px auto rgba(255, 255, 255, 0);
    padding: 5px 15px 7px;
}
.doc_addorreplace {
    background: url("../img/add_remove_cols.png") no-repeat scroll 7px 4px / 16px auto rgba(255, 255, 255, 0);
    padding: 5px 15px 7px;
}
.doc_edit {
    background: url("../img/edit.png") no-repeat scroll 6px 4px / 16px auto rgba(255, 255, 255, 0);
    padding: 5px 15px 6px;
}
.doc_comment {
    background: url("../img/comment1.png") no-repeat scroll 6px 4px / 16px auto rgba(255, 255, 255, 0);
    padding: 5px 15px 6px;
}
.visa_type .row.buttons {
    margin-left: 25px;
}

.update_role {
     background: url("../img/edit.png") no-repeat scroll 6px 4px / 16px auto rgba(255, 255, 255, 0);
    padding: 5px 15px 6px;
}

.assign_role {
     background: url("../img/asign.png") no-repeat scroll 6px 4px / 16px auto rgba(255, 255, 255, 0);
    padding: 5px 15px 6px;
}

.row.doc_in_out {
    margin: 10px 0 !important;
}
.row.doc_in_out > input {
    margin: -3px 6px 0 12px;
}
.app_doc_log .log_button {
    float: left !important;
    margin-left: 7px !important;
}
#semessage {
    color: #f3822e;
}

#serviceform > select {
    margin-right: 10px;
    margin-top: 10px;
}

/* November 20*/
.privacy_btn ul li {
    display: inline-block;
    list-style: outside none none;
    margin: 5px 0 0;
    width: 25%;
}
.privacy_btn input[type="radio"] {
    margin-bottom: 7px;
}
.privacy_btn > ul {
    margin-left: 0;
}
.toggle_form > ul {
    margin-left: 0;
}
.toggle_form ul li {
    font-size: 11px;
    margin-top: 2px;
    width: 32%;
}
.toggle_form input[type="checkbox"] {
    margin-top: -1px;
}
.log_sidebar {
    height: 393px;
    overflow: auto;
}