.navbar .brand {
  color:#eee;
  text-shadow:#777777 0 1px 0;
}

.navbar-inverse .navbar-inner {
  
    background: none repeat scroll 0 0 #048899;
    border-color: #007586;
/*  background-color: #1d2e7b;*/
/*  background-image: -moz-linear-gradient(top, #1d2e7b, #3a4a8c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1d2e7b), to(#3a4a8c));
  background-image: -webkit-linear-gradient(top, #1d2e7b, #3a4a8c);
  background-image: -o-linear-gradient(top, #1d2e7b, #3a4a8c);
  background-image: linear-gradient(to bottom, #1d2e7b, #3a4a8c);
  background-repeat: repeat-x;
  border-color: #1d2e7b;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff1d2e7b', endColorstr='#ff3a4a8c', GradientType=0);*/
}

.navbar .nav > li > a {
  color:#eee;
  text-shadow:#ccc 0 0 0;
}

.navbar .operations > li > a {
  color:#1d2e7b;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  background-color: #2a9dae;
    color: #ffffff;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #2a9dae;
    color: #ffffff;
}

.navbar-inverse .navbar-search .search-query {
  background-color:#dedede;
  border-color:#dedede;
  color:#111111;
}

.navbar-inverse .divider-vertical {
  border-right-color: #39436d;
  border-left-color: #20317d;
}

a, a:hover, .sidebar-nav ul > li > a, .sidebar-nav ul > li > a:hover, .summary-number {
	color: #048899;
}

ul.yiiPager > li > a{
	color: #048899 !important;
	
}

ul.yiiPager .selected a {
    background-color: #ebdb97 !important;
    border-color: #caba76 !important;
    color: #f47a25 !important;
    font-weight: bold;
    text-shadow: 0 0 0 #cccccc;
    border-radius: 20px;
}